<h1>login</h1>
<% if(messages.error) { %>
  <%= messages.error %>  
<% } %>
<form action="/login" method="POST">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button type="submit">login</button>
</form>

<a href="/register">register</a>