<h1>login</h1>
<form action="/login" method="POST">
  <input type="email" name="email" placeholder="email" required>
  <input type="password" name="password" placeholder="password" required>
  <button type="submit">login</button>
</form>

<a href="/register">register</a>